%h1 Listing users

%table
  %tr
    %th= t :name
    %th= t :email
    %th= t :role
    %th= t :session
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.role
      %td= user.sessions
      %td= link_to t(:show), user
      %td= link_to t(:Edit), edit_user_path(user)
      %td= link_to t(:destroy), user, :confirm => t(:sure_confirm), :method => :delete

%br

= link_to t(:new_user), new_user_path
