%div.span
  %h1 Users

  %table{:class => 'table table-bordered table-striped table-condensed row-linked'}
    %tr
      %th Name
      %th Email
      %th Role
      %th Options

    - @users.each do |user|
      %tr
        %td= link_to "#{user.name}", user
        %td= user.email
        %td= user.role
        %td
          = link_to 'Show', user, :class => 'btn btn-small'
          - if @is_admin
            = link_to 'Edit', edit_user_path(user), :class => 'btn btn-edit btn-small'


  - if @is_admin
    =link_to 'New User', new_user_path, :class => 'btn btn-new'
