%div.span
  %h1= t :users
  
  %table{:class => 'table table-bordered table-striped table-condensed row-linked'}
    %tr
      %th= t :name
      %th= t :email
      %th= t :role
      %th= t :options

    - @users.each do |user|
      %tr
        %td= link_to "#{user.name}", user
        %td= user.email
        %td= user.role
        %td
          = link_to t(:show), user, :class => 'btn btn-small'
          - if @is_admin
            = link_to t(:edit), edit_user_path(user), :class => 'btn btn-edit btn-small'


  - if @is_admin
    =link_to t(:new_user), new_user_path, :class => 'btn btn-new'
