%h1 User ##{@user.id}
%p
  %b= t :name
  = @user.name
%p
  %b= t :email
  = @user.email
%p
  %b= t :role
  = @user.role

- if @can_edit
  = link_to 'Edit', edit_user_path(@user), :class => 'btn btn-edit'
= link_to 'Back', users_path, :class => 'btn'
