%h1 #{t :user} ##{@user.id}
%p
  %b= t :name
  = @user.name
%p
  %b= t :email
  = @user.email
%p
  %b= t :role
  = @user.role

- if @can_edit
  = link_to t(:edit), edit_user_path(@user), :class => 'btn btn-edit'
= link_to t(:back), users_path, :class => 'btn'
