%div.span
  - if @has_center
    %h1 #{@center.name}'s #{t :producers}
  - else
    %h1= t :producers

  %table{:class => 'table table-bordered table-striped table-condensed row-linked'}
    %tr
      %th= t :name
      %th= t :email
      %th= t :center
      %th= t :options

    - @producers.each do |producer|
      %tr
        %td= link_to "#{producer.name}", producer
        %td= producer.email
        %td= producer.center
        %td
          = link_to t(:transactions), producer_transactions_path(producer), :class => 'btn btn-small'
          = link_to t(:show), producer, :class => 'btn btn-small'
          - if @is_admin
            = link_to t(:edit), edit_user_path(producer), :class => 'btn btn-edit btn-small'


  - if @is_admin
    =link_to t(:new_user), new_user_path, :class => 'btn btn-new'
