%div.span
  %h1= t :cooperatives 

  %table{:class => 'table table-bordered table-striped table-condensed row-linked'}
    %tr
      %th= t :cooperative
      %th= t :center
      %th= t :producer
      %th= t :transaction
      %th= t :options

    - @cooperatives.each do |cooperative|
      %tr
        %td= cooperative.name
        %td= link_to 'Centers', cooperative_centers_path(cooperative), :class => 'btn btn-small'
        %td= link_to 'Producers', cooperative_producers_path(cooperative), :class => 'btn btn-small'
        %td= link_to 'Transactions', cooperative_transactions_path(cooperative), :class => 'btn btn-small btn-primary'
        %td= link_to 'Edit', edit_cooperative_path(cooperative), :class => 'btn btn-edit btn-small'

  %br

  = link_to 'New Cooperative', new_cooperative_path, :class => 'btn btn-new'
