%section#transactions_form

%div.row-fluid

  = form_for @transaction do |f|
    -if @transaction.errors.any?
      #error_explanation
        %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li= msg
    
    %div.span3
      .field
        = f.label t :producer
        = f.collection_select :producer, @producers, :id, :name
      .field
        = f.label t :code
        = f.text_field :code
      .field
        = f.label t :center
        = f.select :center, @centers
      .field
        = f.label t :date
        = f.date_select :date, {:use_month_names => [t(:jan), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)]}, :order => [:month, :day, :year]
      .field
        = f.label t :time
        = f.time_select :date, :ampm => true

    %div.span2
      .field
        = f.label t :lot_number
        = f.number_field :lot_number, :class => 'input-small'
      .field
        = f.label t :sack
        = f.number_field :sack_number, :class => 'input-small'
      .field
        = f.label t :gweight
        = f.number_field :gross_weight, :class => 'input-small'
      .field
        = f.label t :tare
        = f.number_field :tare, :class => 'input-small'
      .field
        = f.label t :nweight
        = f.number_field :net_weight, :class => 'input-small'
      .field
        = f.label t :quality
        = f.text_field :quality, :class => 'input-small'
      .field
      = f.label t :classes
      = f.text_field :classes, :class => 'input-small'
   

    %div.span2
      .field
        = f.label t :s_f
        = f.number_field :s_f, :class => 'input-small'
      .field
        = f.label t :bitten
        = f.number_field :bitten, :class => 'input-small'
      .field
        = f.label t :bare
        = f.number_field :bare, :class => 'input-small'
      .field
        = f.label t :green
        = f.number_field :green, :class => 'input-small'
      .field
        = f.label t :drill
        = f.number_field :drill, :class => 'input-small'
      .field
        = f.label t :mold
        = f.number_field :mold, :class => 'input-small'
      .field
        = f.label t :gqmd
        = f.number_field :gqmd, :class => 'input-small'

    %div.span3
      .field
        = f.label t :price
        = f.number_field :price
      .field 
        = f.label t :comments
        = f.text_area :comments
      .field
        = f.label t :delivery_form
        = f.select :delivery_form, @delivery_forms
      .field
        = f.label t :received
        = f.text_field :received_by
      .actions
        = f.submit t :save
