%section#transactions_form

%div.row-fluid

  = form_for @transaction do |f|
    -if @transaction.errors.any?
      #error_explanation
        %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li= msg
    
    %div.span3
      .field
        = f.label :producer
        = f.collection_select :producer, @producers, :id, :name
      .field
        = f.label :code
        = f.text_field :code
      .field
        = f.label :center
        = f.select :center, @centers
      .field
        = f.label :date
        = f.date_select :date, :user_month_names => true, :order => [:month, :day, :year]
      .field
        = f.label :date, 'Time'
        = f.time_select :date, :ampm => true

    %div.span2
      .field
        = f.label :lot_number
        = f.number_field :lot_number, :class => 'input-small'
      .field
        = f.label :sack_number
        = f.number_field :sack_number, :class => 'input-small'
      .field
        = f.label :gross_weight
        = f.number_field :gross_weight, :class => 'input-small'
      .field
        = f.label :tare
        = f.number_field :tare, :class => 'input-small'
      .field
        = f.label :net_weight
        = f.number_field :net_weight, :class => 'input-small'
      .field
        = f.label :quality
        = f.text_field :quality, :class => 'input-small'
      .field
      = f.label :classes
      = f.text_field :classes, :class => 'input-small'
   

    %div.span2
      .field
        = f.label :s_f, 'S / F'
        = f.number_field :s_f, :class => 'input-small'
      .field
        = f.label :bitten
        = f.number_field :bitten, :class => 'input-small'
      .field
        = f.label :bare
        = f.number_field :bare, :class => 'input-small'
      .field
        = f.label :green
        = f.number_field :green, :class => 'input-small'
      .field
        = f.label :drill
        = f.number_field :drill, :class => 'input-small'
      .field
        = f.label :mold
        = f.number_field :mold, :class => 'input-small'
      .field
        = f.label :gqmd, 'GQMD'
        = f.number_field :gqmd, :class => 'input-small'

    %div.span3
      .field
        = f.label :price
        = f.number_field :price
      .field 
        = f.label :comments
        = f.text_area :comments
      .field
        = f.label :delivery_form
        = f.select :delivery_form, @delivery_forms
      .field
        = f.label :received_by
        = f.text_field :received_by
      .actions
        = f.submit 'Save'
