%h1= t(:edit_trans)

= render 'form'

= link_to t :show, @transaction, :class => 'btn '
= link_to t :back, transactions_path, :class => 'btn'
- if @can_destroy
  = link_to t :destroy, transaction_path, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-delete'
