%h1 Transactions

%table{:class => 'table table-bordered table-striped table-condensed'}
  %tr
    %th Producer
    %th Code
    %th Date
    %th Center
    %th Price
    %th Comments
    %th Received by
    %th
    %th
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.producer
      %td= transaction.code
      %td= transaction.date
      %td= transaction.center
      %td= transaction.price
      %td= transaction.comments
      %td= transaction.received_by
      %td= link_to 'Show', transaction
      %td= link_to 'Edit', edit_transaction_path(transaction)
      %td= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Transaction', new_transaction_path
