%div.span
  %h1= t :transactions

  %table{:class => 'table table-bordered table-striped table-condensed row-linked'}
    %tr
      %th= t :receipt
      %th= t :producer
      %th= t :code
      %th= t :date
      %th= t :time
      %th= t :center
      %th= t :price
      %th= t :comments
      %th= t :received
      %th= t :options

    - @transactions.each do |transaction|
      %tr
        %td= "%04d" % transaction.id
        %td= transaction.producer
        %td= transaction.code
        %td= transaction.date.strftime("%d/%m/%y")
        %td= transaction.date.strftime("%l:%M %p")
        %td= transaction.center
        %td= transaction.price
        %td= transaction.comments
        %td= transaction.received_by
        %td
          = link_to 'Show', transaction, :class => 'btn btn-small'
          - if @can_edit
            = link_to 'Edit', edit_transaction_path(transaction), :class => 'btn btn-small btn-edit'

  = link_to 'New Transaction', new_transaction_path, :class => 'btn btn-new'
