%div.span
  - if @has_producer
    %h1 #{@trans_producer.name}'s #{t :transactions}
  - else
    - if @has_center
      %h1 #{@trans_center.name}'s #{t :transactions}
    -else
      %h1= t :transactions


  %table{:class => 'table table-bordered table-striped table-condensed row-linked'}
    %tr
      %th= link_to t(:receipt), transactions_path(:id => "id"), :id => "receipt_header"
      %th= link_to t(:producer), transactions_path(:id => "producer"), :id => "producer_header"
      %th= link_to t(:code), transactions_path(:id => "code"), :id => "code_header"
      %th= link_to t(:date), transactions_path(:id => "date"), :id => "date_header"
      %th= t :time #link_to t(:time), transactions_path(:id => "time"), :id => "time_header"
      %th= link_to t(:center), transactions_path(:id => "center"), :id => "center_header"
      %th= link_to t(:price), transactions_path(:id => "price"), :id => "price_header"
      %th= link_to t(:comments), transactions_path(:id => "comments"), :id => "comments_header"
      %th= link_to t(:received_by), transactions_path(:id => "producer"), :id => "producer_header"
      %th= t :options

    - @transactions.each do |transaction|
      %tr
        %td= "%04d" % transaction.id
        %td= transaction.producer
        %td= transaction.code
        %td= transaction.date.strftime("%d/%m/%y") unless transaction.date.nil?
        %td= transaction.date.strftime("%l:%M %p") unless transaction.date.nil?
        %td= transaction.center
        %td= transaction.price
        %td= transaction.comments
        %td= transaction.received_by
        %td
          = link_to 'Show', transaction, :class => 'btn btn-small'
          - if @can_edit
            = link_to 'Edit', edit_transaction_path(transaction), :class => 'btn btn-small btn-edit'

  = link_to 'New Transaction', new_transaction_path, :class => 'btn btn-new'
