%h1 #{t :transaction} ##{@transaction.id} Info

%div.row 
  %div.span8
    %h3= t :receipt_info
    %table{:class => 'table table-condensed table-bordered'}
      %tr
        %th= t :receipt
        %th= t :producer
        %th= t :code
        %th= t :center
        %th= t :date
        %th= t :time
      %tr
        %td= @transaction.id
        %td= @transaction.producer
        %td= @transaction.code
        %td= @transaction.center
        %td= @transaction.date.strftime("%d/%m/%y")
        %td= @transaction.date.strftime("%l:%M %p")

%div.row
  %div.span8
    %h3= t :traits
    %table{:class => 'table table-condensed table-bordered'}
      %tr
        %th= t :lot
        %th= t :sack
        %th= t :gweight
        %th= t :tare
        %th= t :nweight
        %th= t :quality
        %th= t :classes
      %tr
        %td= @transaction.lot_number
        %td= @transaction.sack_number
        %td= @transaction.gross_weight
        %td= @transaction.tare
        %td= @transaction.net_weight
        %td= @transaction.quality
        %td= @transaction.classes
%div.row
  %div.span8
    %h3 Quality:
    %table{:class => 'table table-condensed table-bordered'}
      %tr
        %th= t :s_f
        %th= t :bitten
        %th= t :bare
        %th= t :green
        %th= t :drill
        %th= t :mold
        %th= t :gqmd
        %th= t :total_quality
      %tr
        %td= @transaction.s_f
        %td= @transaction.bitten
        %td= @transaction.bare
        %td= @transaction.green
        %td= @transaction.drill
        %td= @transaction.mold
        %td= @transaction.gqmd
        %td= @transaction.total

%div.row
  %div.span8
    %h3 Delivery Info:
    %table{:class => 'table table-condensed table-bordered'}
      %tr
        %th Price
        %th Delivery Form
        %th Comments
        %th Received By
      %tr
        %td= @transaction.price
        %td= @transaction.delivery_form
        %td= @transaction.comments
        %td= @transaction.received_by
- if @can_edit
  = link_to 'Edit', edit_transaction_path(@transaction), :class => 'btn btn-edit'
= link_to 'Back', transactions_path, :class => 'btn'
