<!DOCTYPE html>
<html>
<head>
  <title>CoffeeCoopProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigation">
    <nav id="nav_bar">
      <ul>
        <li id="logo">Coffee Tracker</li>
        <li id="tab"><%=link_to "Users", users_path, :class => "usersnav"%></li>
        <li id="tab"><%= link_to "Transactions", transactions_path, :class => "transactionsnav"%></li>
      </ul>
      <ul id="user_info">
        <% if user_signed_in? %>
          <%= render :partial => 'layouts/signed_in' %>
        <% else %>
          <%= render :partial => 'layouts/not_signed_in' %>
        <% end %>
      </ul>
    </nav>
  </div>

  <% flash.each do |key, value| %>
    <div class="alert alert-block alert-<%= key == :notice ? "success" : key %> fadeout" data-dismiss="alert">
      <strong><%= key.capitalize %>: </strong>
      <%= value %>
      <a class="close">&times;</a>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row-flud">
      <%= yield %>
    </div>
  </div>
</body>
</html>
